/* css-reset */
*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1 {
  background: rgb(255, 0, 0);
  padding: 30px;
}

h2 {
  background: rgb(255, 165, 0);
  margin: 30px;
}
